<a href="https://colab.research.google.com/github/Isinwa-Deborah/Python-List-and-Operation/blob/main/Python_List_and_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

# Create a list a_list, with the following elements 1, hello, [1,2,3] and True.
a_list = [1, "hello", [1, 2 ,3], True]

a_list

[1, 'hello', [1, 2, 3], True]

In [2]:
# Find the value stored at index 1 of a_list.

a_list[1]

'hello'

In [3]:
# Retrieve the elements stored at index 1, 2 and 3 of a_list.

a_list[1:4]

['hello', [1, 2, 3], True]

In [4]:
# Concatenate the following lists A = [1, 'a'] and B = [2, 1, 'd']:

A = [1, 'a']
B = [2, 1, 'd']
A + B

[1, 'a', 2, 1, 'd']

In [5]:
# create a empty list for storing the items to buy in Shopping list.

shopping_list = []

In [8]:
# Print First item from the shopping_list

shopping_list[0]

'Watch'

In [6]:
# store the number of items to the shopping_list (Watch, Laptop, Shoes, Pen, Clothes)

shopping_list = ["Watch", "Laptop", "Shoes", "Pen", "Clothes"]

In [18]:
# Add a new item to the shopping_list

shopping_list.append("Football")

In [19]:
# Print Last item from the shopping_list

shopping_list[-1]

'Football'

In [20]:
# Change the item from the shopping_list
shopping_list[0] = "Exercise Book"
shopping_list

['Exercise Book',
 'Laptop',
 'Shoes',
 'Pen',
 'Clothes',
 ['Football'],
 ['Football'],
 ['Football'],
 ['Football'],
 ['Football'],
 ['Football'],
 'Football']

In [21]:
# Delete the items from the shopping_list that are not required

del(shopping_list[5:11])

In [22]:
shopping_list

['Exercise Book', 'Laptop', 'Shoes', 'Pen', 'Clothes', 'Football']

In [23]:
# Use extend to add elements to list

L = [ "Michael Jackson", 10.2]
L.extend(['pop', 10])
L

['Michael Jackson', 10.2, 'pop', 10]

In [24]:
# Change the element based on the index

A = ["disco", 10, 1.2]
print('Before change:', A)
A[0] = 'hard rock'
print('After change:', A)

Before change: ['disco', 10, 1.2]
After change: ['hard rock', 10, 1.2]

In [25]:
# Split the string, default is by space

'hard rock'.split()

['hard', 'rock']

In [26]:
# Split the string by comma

'A,B,C,D'.split(',')

['A', 'B', 'C', 'D']

In [27]:
# Copy (copy by reference) the list A

A = ["hard rock", 10, 1.2]
B = A
print('A:', A)
print('B:', B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [28]:
# Examine the copy by reference

print('B[0]:', B[0])
A[0] = "banana"
print('B[0]:', B[0])

B[0]: hard rock
B[0]: banana

In [29]:
# Clone (clone by value) the list A

B = A[:]
B

['banana', 10, 1.2]

In [30]:
print('B[0]:', B[0])
A[0] = "hard rock"
print('B[0]:', B[0])

B[0]: banana
B[0]: banana